@media only screen and (max-width: 1160px) {
    header {
        display: none;
    }
    .content {
        margin-left: 0px;
    }
}

@media only screen and (min-device-width: 100px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    .welcome-text {
        top: 40%;
        right: 15%;
        color: #ffffff;
        text-shadow: 2px 2px 3px black, 0 0 50px blue, 0 0 10px darkblue;
        font-weight: bold;
    }
    .myname {
        font-size: 400%;
    }
    .mytag {
        font-size: 300%;
        text-align: right;
    }
    .details-board {
        display:unset;
    }
    .photo-pin {
        margin: 55px 0px 0px -420px;
        height: 150px;
        width: 155px;
    }
    .about-photo {
        height: 600px;
        width: 600px;
        margin: 40px 100px 90px 140px;
        align-self: center;
        justify-self: center;
    }
    .personal-details-section{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .personal-details-column {
        flex-direction: column;
    }
    .personal-details-column-section {
        height: 200px;
        width: 200px;
        margin: 50px;
    }
    .personal-details-title {
        font-size: 40px;
    }
    .personal-details-description {
        font-size: 46px;
    }
}